body{
  background-color: rgb(224, 237, 250);
}
.app {
  text-align: center;
  margin: 40px;
}
.header{

  color:rgb(7, 7, 78);
  font-size: 70px;
  font-weight: bold;
}
input{
  width:40%;
  margin:15px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(254, 254, 255);
  border: 1px solid rgb(77, 77, 194);
  
}
button{
    width:20%;
    padding: 20px;
    border: 1px solid rgb(77, 77, 194);
    background-color:  rgb(254, 254, 255);
    border-radius: 10px;
}
