.content{
  text-align: center;
}

.contentoutput{
  color:rgb(7, 7, 78);
  font-size: 25px;
  font-style: italic;
  margin-top: 5px;
  /* font-weight: bold; */
}
.contentoutput p{
  color:rgb(5, 5, 5);
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
  text-transform: capitalize;
}
.column p {
  color:rgb(51, 51, 61);
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
  
}
.column{
  float:left;
  width:50%;
  text-align: center;
  color:rgb(7, 7, 78);
  font-size: 30px;
  font-weight: bold;
  text-transform: capitalize;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.image img{
  text-align: center;
  margin: 15%;
  margin-top: 20px;
  width: 60%;
  height: 30%;
 

}